In [2]:
import pandas as pd
import numpy as np

In [3]:
grades = pd.read_csv("../grades2.csv")
grades = grades.drop("Grade_Given",axis = 1)
grades = grades.drop("Sum_of_Student_Count",axis = 1)
grades = grades.drop_duplicates()
grades.head()

,Quarter,Course_Level,Course,Instructor,Department,Course_Number
0,S22,Undergraduate,ANTH 2,WALSH C,ANTH,2
13,S22,Undergraduate,ANTH 3,KENNETT D J,ANTH,3
26,S22,Undergraduate,ANTH 7,DAVISON R J,ANTH,7
36,S22,Undergraduate,ANTH 103B,WERTH S,ANTH,103B
46,S22,Undergraduate,ANTH 123MG,THOMPSON GONZ,ANTH,123MG

In [4]:
grades.to_json("courses.json",orient = "records")

In [3]:
grades = pd.read_csv("../grades.csv")
instructor_list = grades["Instructor"].unique()
quarter_list = grades["Quarter"].unique()
course_level_list = grades["Course_Level"].unique()
course_list = grades["Course"].unique()

In [14]:
dept_list = np.unique([course[0:5] for course in course_list])
for d in dept_list:
    print("<option value = \"{0}\"> {0} </option>".format(d))

<option value = "ANTH "> ANTH  </option>
<option value = "ART  "> ART   </option>
<option value = "ARTHI"> ARTHI </option>
<option value = "ARTST"> ARTST </option>
<option value = "AS AM"> AS AM </option>
<option value = "ASTRO"> ASTRO </option>
<option value = "BIOL "> BIOL  </option>
<option value = "BL ST"> BL ST </option>
<option value = "BMSE "> BMSE  </option>
<option value = "C LIT"> C LIT </option>
<option value = "CH E "> CH E  </option>
<option value = "CH ST"> CH ST </option>
<option value = "CHEM "> CHEM  </option>
<option value = "CHIN "> CHIN  </option>
<option value = "CLASS"> CLASS </option>
<option value = "CMPSC"> CMPSC </option>
<option value = "CMPTG"> CMPTG </option>
<option value = "CNCSP"> CNCSP </option>
<option value = "COMM "> COMM  </option>
<option value = "DANCE"> DANCE </option>
<option value = "DYNS "> DYNS  </option>
<option value = "EACS "> EACS  </option>
<option value = "EARTH"> EARTH </option>
<option value = "ECE  "> ECE   </option>
<option value = "ECON "> ECON  </option>
<option value = "ED   "> ED    </option>
<option value = "EDS  "> EDS   </option>
<option value = "EEMB "> EEMB  </option>
<option value = "ENGL "> ENGL  </option>
<option value = "ENGR "> ENGR  </option>
<option value = "ENV S"> ENV S </option>
<option value = "ES   "> ES    </option>
<option value = "ESM  "> ESM   </option>
<option value = "ESS  "> ESS   </option>
<option value = "FAMST"> FAMST </option>
<option value = "FEMST"> FEMST </option>
<option value = "FLMST"> FLMST </option>
<option value = "FR   "> FR    </option>
<option value = "GEOG "> GEOG  </option>
<option value = "GEOL "> GEOL  </option>
<option value = "GER  "> GER   </option>
<option value = "GLOBL"> GLOBL </option>
<option value = "GPS  "> GPS   </option>
<option value = "GRAD "> GRAD  </option>
<option value = "GREEK"> GREEK </option>
<option value = "HEB  "> HEB   </option>
<option value = "HIST "> HIST  </option>
<option value = "INT  "> INT   </option>
<option value = "ITAL "> ITAL  </option>
<option value = "JAPAN"> JAPAN </option>
<option value = "KOR  "> KOR   </option>
<option value = "LAIS "> LAIS  </option>
<option value = "LATIN"> LATIN </option>
<option value = "LAWSO"> LAWSO </option>
<option value = "LING "> LING  </option>
<option value = "LIT  "> LIT   </option>
<option value = "MARSC"> MARSC </option>
<option value = "MAT  "> MAT   </option>
<option value = "MATH "> MATH  </option>
<option value = "MATRL"> MATRL </option>
<option value = "MCDB "> MCDB  </option>
<option value = "ME   "> ME    </option>
<option value = "ME ST"> ME ST </option>
<option value = "MES  "> MES   </option>
<option value = "MS   "> MS    </option>
<option value = "MUS  "> MUS   </option>
<option value = "MUS A"> MUS A </option>
<option value = "PHIL "> PHIL  </option>
<option value = "PHYS "> PHYS  </option>
<option value = "POL S"> POL S </option>
<option value = "PORT "> PORT  </option>
<option value = "PSTAT"> PSTAT </option>
<option value = "PSY  "> PSY   </option>
<option value = "RG ST"> RG ST </option>
<option value = "RUSS "> RUSS  </option>
<option value = "SHS  "> SHS   </option>
<option value = "SLAV "> SLAV  </option>
<option value = "SOC  "> SOC   </option>
<option value = "SPAN "> SPAN  </option>
<option value = "THTR "> THTR  </option>
<option value = "TMP  "> TMP   </option>
<option value = "W&L  "> W&L   </option>
<option value = "WRIT "> WRIT  </option>

In [10]:
grades = pd.read_csv("../grades.csv")
grades["Dept"] = [x[:5].strip() for x in grades['Course']]
grades["Course_Number"] = [x[5:].strip() for x in grades['Course']]
grades.to_csv("../grades2.csv",index = False)