In [2]:
import pandas as pd

In [3]:
grades = pd.read_csv("grades.csv")
grades = grades.drop("Grade_Given",axis = 1)
grades = grades.drop("Sum_of_Student_Count",axis = 1)
grades = grades.drop_duplicates()
grades.head()

   Quarter   Course_Level         Course     Instructor
0      S22  Undergraduate    ANTH      2        WALSH C
13     S22  Undergraduate    ANTH      3    KENNETT D J
26     S22  Undergraduate    ANTH      7    DAVISON R J
36     S22  Undergraduate   ANTH    103B        WERTH S
46     S22  Undergraduate  ANTH    123MG  THOMPSON GONZ

In [4]:
grades.to_json("courses.json",orient = "records")